/* cart.css */
/* Add padding for mobile when sticky footer is active */
@media (max-width: 768px) {
  .cart-container {
    padding-bottom: 80px; /* Adjust the padding according to the height of the StickyFooter */
  }
}

.cart-item-img {
  max-width: 80px;
  border-radius: 8px;
}

.cart-content .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body h5 {
  font-size: 1.2rem;
}

.card-text {
  margin: 0;
}

.list-group-item {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.btn-link {
  text-decoration: none;
  font-size: 1rem;
  color: #007bff;
}

.btn-link:hover {
  color: #0056b3;
}

  
  #emptyCart {
   height: 100vh;
   margin-top: -40px;
    background: url('/public/images/emptycart.png') no-repeat center center;
    object-fit: cover;

  }
 
  #emptyCart button{
   margin-top: 500px;
   padding: 10px 20px 10px 20px;
  }

  
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: none; /* Remove default border */
    padding: 10px; /* Add some padding */
    background-color: #fff; /* Set background color */
    margin-bottom: 10px;
  }
  
  .list-group-item img {
    width: 50px;
    margin-right: 10px;
    
  }
  
  .cart-item-img {
    width: 50px;
  }
  
  .cart-item-name {
    font-size: 16px;
    margin-left: 10px;
    white-space: nowrap;
  }
  
  .btn-secondary {
    padding: 5px 10px;
  }
  
  @media (max-width: 768px) {
    .list-group-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cart-item-name {
      margin-top: 10px;
    }
  
    .btn-secondary {
      padding: 8px 15px;
    }
  
    .mt-md-0 {
      margin-top: 15px;
    }
  }
  
  @media (max-width: 576px) {
    .cart-item-img {
      width: 40px;
    }
  
    .cart-item-name {
      font-size: 14px;
    }

    .btn-secondary {
        padding: 6px 12px; /* Adjust padding for mobile screens */
      }
    
      .list-group-item {
        padding: 8px; /* Adjust padding for mobile screens */
      }
  }

  